.my-link{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "circle-frame ul"
  "my-name      ul";
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  padding: 40px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.12);
  justify-content: center;
}
.my-link ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.my-link ul p{
  margin-top: 0;
  font-weight: bold;
}
.circle-frame{
  grid-area: circle-frame;
  width: 100%;
}
.circle-frame > div{
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color:darkgrey;
}
img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-name{
  grid-area: my-name;
  width: 100%;
  text-align: center;
}
.my-link > ul{
  grid-area: ul;
}
.my-link > ul > li > a{
  /* 単語の途中で折り返す */
  word-break: break-all;
  /* 単語単位で折り返す */
  /* word-wrap: break-word; 古いブラウザ用。
  overflow-wrap: break-word; 現在の標準。 */
  /* white-space: normal; */
}
.profile{
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  padding: 40px;
}
.profile ul{
  margin: 0;
}
.message{
  text-align: center;
}
/* @media (min-width: 769px) and (max-width: 1024px){

}
@media (min-width: 481px) and (max-width: 768px){

}
@media (max-width: 480px){

} */
