:root{
  font-size: 16px;
  line-height: 1.6;
}
body{
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #eee;
}
header{
  position: sticky;
  top: 0;
  z-index: 10;
}
main{
  padding-bottom: 32px;
}
.global-nav{
  background-color: white;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.global-nav > ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 32px;
  padding: 0;
}
.global-nav > ul > li > a{
  padding: 16px 32px;
  display: inline-block;
  text-decoration: none;
  background-color: white;
}
.all-contents{
  margin: 40px auto;
  width: 80%;
  max-width: calc(880px + 2rem);
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}
@media (max-width: 480px){
  header{
    position: static;
    top: auto;
    z-index: auto;
  }
  .all-contents{
    width: auto;
  }
}
@media (any-hover: hover){
  .global-nav > ul > li > a:hover{
    filter: brightness(0.7) contrast(1.6);
  }
}

